<html xmlns:th="http://www.thymeleaf.org">
<title>Home</title>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link th:href="@{/css/signIn.css}" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js'
	crossorigin='anonymous'></script>
</head>
<body>
	<script>
		}
	</script>
	<div class="row" style="background-color: #db9c27; padding: 5px;">
		<div class="col-sm-6"></div>
		<div class="col-sm-6">
			<a href=""><i class=""></i> NCERT e books</a> &nbsp; <a
				href="https://www.dpsjaipur.com/message.html" target="_blank">PTA
				Registration</a>&nbsp; <a href="https://www.dpsjaipur.com/message.html"
				target="_blank">Registration</a>&nbsp; <a href="International-Links">Teacher
				Login </a>&nbsp; <a th:href="@{/auth/users/export/excel}"
				target="_blank">Student Login</a>&nbsp; <a
				href="teacherLogin/index.php" target="_blank">Staff Login</a>
		</div>
	</div>


	<div class="navbar">
		<center>
			<img src="/dps/images/dps-jaipur-school-logo.png"
				style="width: 45%; margin-top: -20px;">
		</center>
		<a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a> <a
			href="#">About Us</a> <a href="#"> Infrastructure</a> <a
			href="../student"> HostelStudent</a> <a href="#"> Admission</a> <a
			href="#">Academics</a> <a href="#">Result</a> <a href="#">Carrier</a>
		<a><i class="fa fa-fw fa-search"></i>Search</a>
	</div>


</body>



</html>