<html xmlns:th="http://www.thymeleaf.org">
<title>Home</title>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link th:href="@{/css/signIn.css}" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src='https://kit.fontawesome.com/a076d05399.js'
	crossorigin='anonymous'></script>
</head>
<body>
	<script>
		}
	</script>
	<div class="row" style="background-color: #db9c27; padding: 5px;">
		<div class="col-sm-6"></div>
		<div class="col-sm-6">
			<a href="https://epathshala.nic.in/" style="color: #fff;"> NCERT
				e books</a> &nbsp; <a href="https://www.dpsjaipur.com/message.html"
				target="_blank" style="color: #fff;">PTA Registration</a>&nbsp; <a
				href="https://www.dpsjaipur.com/message.html" target="_blank"
				style="color: #fff;">Registration</a>&nbsp; <a
				href="International-Links" style="color: #fff;">Teacher Login </a>&nbsp;
			<a th:href="@{/auth/users/export/excel}" target="_blank"
				style="color: #fff;">Student Login</a>&nbsp; <a
				href="teacherLogin/index.php" target="_blank" style="color: #fff;">Staff
				Login</a>
		</div>
	</div>


	<div class="navbar">
		<center>
			<img src="/dps/images/dps-jaipur-school-logo.png"
				style="width: 45%; margin-top: -20px;" />
		</center>
		<a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a> <a
			href="#">About Us</a> <a href="#"> Infrastructure</a> <a
			href="../student/getStudents"> HostelStudent</a> <a href="#">
			Admission</a> <a href="#">Academics</a> <a href="#">Result</a> <a
			href="#">Carrier</a> <a><i class="fa fa-fw fa-search"></i>Search</a>
	</div>
	<div class="slideshow-container">

		<div class="mySlides">
			<img src="/dps/images/school1.jpg"
				style="width: 130%; margin-left: -145;">
			<div class="text"
				style="font-family: system-ui; font-size: xx-large; font-weight: bold;">
				My School, My Happy Place!</div>
		</div>

		<div class="mySlides">
			<img src="/dps/images/school2.jpg"
				style="width: 130%; margin-left: -145;">
			<div class="text"
				style="font-family: system-ui; font-size: xx-large; font-weight: bold;">Art
				- The Global Connect</div>
		</div>

		<div class="mySlides">
			<img src="/dps/images/school3.jpg"
				style="width: 130%; margin-left: -145;">
			<div class="text"
				style="font-family: system-ui; font-size: xx-large; font-weight: bold;">Standing
				In Harmony And With Solidarity.</div>
		</div>
		<div class="mySlides">
			<img src="/dps/images/school4.jpg"
				style="width: 130%; margin-left: -145;">
			<div class="text"
				style="font-family: system-ui; font-size: xx-large; font-weight: bold;">Budding
				Scientists - We Explore, We Experiment, We Innovate!</div>
		</div>
		<div class="mySlides">
			<img src="/dps/images/school5.jpg"
				style="width: 130%; margin-left: -145;">
			<div class="text"
				style="font-family: system-ui; font-size: xx-large; font-weight: bold;">Amphitheater
				- Performance Galore.</div>
		</div>

	</div>
	<!--New Notification NavBar-->
	<div class="navbar2">
		<div class="col-sm-2">
			<button type="submit" class="btn btn-warning"
				style="width: 100%; margin-top: -11;">New Notifications</button>
		</div>
		<div class="col-sm-10">
			<marquee width="100%" direction="left"
				style="margin-top: -8; color: white;"> Admissions open for
				Session 2022-23 ( Classes Pre-Nursery to IX & XI ) </marquee>
		</div>
	</div>
	<!--News-->
	<div style="text-align: center;">
		<h3 style="font-style: italic;">News & Events</h3>
	</div>
	<div>
		<div class="col-sm-4">
			<div class="col-sm-12"
				style="background-color: #225e3e; color: white; margin-top: 19; height: 51%;">
				<h3 style="text-decoration: underline; font-style: italic;">Upcoming
					Events</h3>
				<marquee direction="up">
					<h4 style="background-color: seagreen;">22-04-2022 Essay
						Competition.</h4>
					<h4 style="background-color: seagreen;">25-04-2022 Basketball
						Competition.</h4>
					<h4 style="background-color: seagreen;">26-04-2022 Earth Expo
						2022.</h4>
					<h4 style="background-color: seagreen;">29-04-2022 Inter House
						Competition.</h4>
				</marquee>
			</div>

			<!--Calendar-->
		</div>
		<div class="col-sm-4">
			<div id="yourId" class="jalendar">

				<input type="hidden" class="data1"><input type="hidden"
					class="data2">
				<div class="jalendar-container">
					<div class="jalendar-pages"
						style="background-color: #03723b; background: -webkit-gradient(linear, left top, left bottom, from(#03723b), to(#03723b)); background: -webkit-linear-gradient(top, #03723b, #03723b); background: -moz-linear-gradient(top, #03723b, #03723b); background: -ms-linear-gradient(top, #03723b, #03723b); background: -o-linear-gradient(top, #03723b, #03723b);">
						<div class="header">
							<a class="prv-m"><i class="fa fa-angle-left"></i></a>
							<h1>
								April 2022
								<div class="total-bar" style="display: none;">0</div>
							</h1>
							<a class="nxt-m"><i class="fa fa-angle-right"></i></a>
							<div class="day-names">
								<h2>Mon</h2>
								<h2>Tue</h2>
								<h2>Wed</h2>
								<h2>Thu</h2>
								<h2>Fri</h2>
								<h2>Sat</h2>
								<h2>Sun</h2>
							</div>
						</div>
						<div class="days" data-month="4" data-year="2022">
							<div class="day">
								<span>28</span>
							</div>
							<div class="day">
								<span>29</span>
							</div>
							<div class="day">
								<span>30</span>
							</div>
							<div class="day">
								<span>31</span>
							</div>
							<div class="day this-month" data-date="1-4-2022">
								<span>1</span>
							</div>
							<div class="day this-month" data-date="2-4-2022">
								<span>2</span>
							</div>
							<div class="day this-month" data-date="3-4-2022">
								<span>3</span>
							</div>
							<div class="day this-month" data-date="4-4-2022">
								<span>4</span>
							</div>
							<div class="day this-month" data-date="5-4-2022">
								<span>5</span>
							</div>
							<div class="day this-month" data-date="6-4-2022">
								<span>6</span>
							</div>
							<div class="day this-month" data-date="7-4-2022">
								<span>7</span>
							</div>
							<div class="day this-month" data-date="8-4-2022">
								<span>8</span>
							</div>
							<div class="day this-month" data-date="9-4-2022">
								<span>9</span>
							</div>
							<div class="day this-month" data-date="10-4-2022">
								<span>10</span>
							</div>
							<div class="day this-month" data-date="11-4-2022">
								<span>11</span>
							</div>
							<div class="day this-month" data-date="12-4-2022">
								<span>12</span>
							</div>
							<div class="day this-month" data-date="13-4-2022">
								<span>13</span>
							</div>
							<div class="day this-month" data-date="14-4-2022">
								<span>14</span>
							</div>
							<div class="day this-month" data-date="15-4-2022">
								<span>15</span>
							</div>
							<div class="day this-month" data-date="16-4-2022">
								<span>16</span>
							</div>
							<div class="day this-month" data-date="17-4-2022">
								<span>17</span>
							</div>
							<div class="day this-month" data-date="18-4-2022">
								<span>18</span>
							</div>
							<div class="day this-month" data-date="19-4-2022">
								<span>19</span>
							</div>
							<div class="day this-month" data-date="20-4-2022">
								<span>20</span>
							</div>
							<div class="day this-month" data-date="21-4-2022">
								<span>21</span>
							</div>
							<div class="day this-month" data-date="22-4-2022">
								<span>22</span>
							</div>
							<div class="day this-month" data-date="23-4-2022">
								<span>23</span>
							</div>
							<div class="day this-month" data-date="24-4-2022">
								<span>24</span>
							</div>
							<div class="day this-month" data-date="25-4-2022">
								<span>25</span>
							</div>
							<div class="day this-month today" data-date="26-4-2022">
								<span>26</span>
							</div>
							<div class="day this-month" data-date="27-4-2022">
								<span>27</span>
							</div>
							<div class="day this-month" data-date="28-4-2022">
								<span>28</span>
							</div>
							<div class="day this-month" data-date="29-4-2022">
								<span>29</span>
							</div>
							<div class="day this-month" data-date="30-4-2022">
								<span>30</span>
							</div>
							<div class="day">
								<span>1</span>
							</div>
							<div class="day">
								<span>2</span>
							</div>
							<div class="day">
								<span>3</span>
							</div>
							<div class="day">
								<span>4</span>
							</div>
							<div class="day">
								<span>5</span>
							</div>
							<div class="day">
								<span>6</span>
							</div>
							<div class="day">
								<span>7</span>
							</div>
							<div class="day">
								<span>8</span>
							</div>
						</div>
						<div class="add-event">
							<div class="events">
								<h3>
									<span>0</span> Event(s)
								</h3>
								<div class="events-list"></div>
							</div>
							<div class="close-button">Close</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="col-sm-4">
			<div class="col-sm-12"
				style="background-color: #225e3e; color: white; margin-top: 19; height: 51%;">
				<h3 style="text-decoration: underline; font-style: italic;">News
					& Updates</h3>
				<marquee direction="down">
					<h4 style="background-color: green;">22-04-2022 Virtual Talk
						Show.</h4>
					<h4 style="background-color: green;">25-04-2022 Foundation
						Day.</h4>
					<h4 style="background-color: green;">26-04-2022 Special Prize
						Trophy.</h4>
					<h4 style="background-color: green;">29-04-2022 English Story
						Narration.</h4>
				</marquee>
			</div>
		</div>

	</div>


	<!-- Gallery -->
	<div class="col-sm-12" style="text-align: center;">
		<h3 style="font-style: italic;">Testimonials</h3>
	</div>
	<div class="col-sm-2"></div>

	<div class="w3-container">

		<div class="w3-content w3-section">
			<p class="Slides w3-animate-left">
				<img
					style="border: 2px solid #0080004a; box-shadow: 0px 0px 10px 0px #4f42928f; float: left; height: 125; width: 16%; border-radius: 50%; margin-right: 12px;"
					src="/dps/images/school3.jpg" alt="DPS JAIPUR"> BA LLB
				(Honors) Nalsar, University of Law<br>At DPS Jaipur, I never
				ran out of new opportunities and learning experiences. The teachers
				always extended a helping hand in all difficulties and encouraged me
				to reach my highest potential.<br>
				<a style="color: green;"> Bhavisha Sharma </a>
			</p>


			<p class="Slides w3-animate-left">
				<img
					style="border: 2px solid #0080004a; box-shadow: 0px 0px 10px 0px #4f42928f; float: left; height: 125; width: 16%; border-radius: 50%; margin-right: 12px;"
					src="/dps/images/school4.jpg" alt="DPS JAIPUR"> BA LLB
				(Honors) Nalsar, University of Law<br>At DPS Jaipur, I never
				ran out of new opportunities and learning experiences. The teachers
				always extended a helping hand in all difficulties and encouraged me
				to reach my highest potential.<br>
				<a style="color: green;"> Suraj Kumar </a>
			</p>
			<p class="Slides w3-animate-left">
				<img
					style="border: 2px solid #0080004a; box-shadow: 0px 0px 10px 0px #4f42928f; float: left; height: 125; width: 16%; border-radius: 50%; margin-right: 12px;"
					src="/dps/images/school5.jpg" alt="DPS JAIPUR"> BA LLB
				(Honors) Nalsar, University of Law<br>At DPS Jaipur, I never
				ran out of new opportunities and learning experiences. The teachers
				always extended a helping hand in all difficulties and encouraged me
				to reach my highest potential.<br>
				<a style="color: green;"> Raj Kumar </a>
			</p>
		</div>
	</div>
<br>
<footer class="footer">
	<div class="foot-social">
    	<ul>
        	<li><a href="https://www.facebook.com/dps.jaipur.1/?ref=br_tf" target="_blank"><i class="fa fa-facebook"></i></a></li>
        	<li><a href="https://www.instagram.com/dps_jaipur_official/" target="_blank"><i class="fa fa-instagram"></i></a></li>
        	<li><a href="https://www.youtube.com/channel/UCZET6hMeeritb2oo2z5QdJQ" target="_blank"><i class="fa fa-youtube"></i></a></li>
        	<!--<li><a href="https://api.whatsapp.com/send?phone=919828982987" target="_blank"><i class="fa fa-whatsapp"></i></a></li>-->			
        	<li><a href="https://twitter.com/DPSJaipur" target="_blank"><i class="fa fa-twitter"></i></a></li>						
        </ul>
    </div>   
    <div class="first-footer">
        <div class="footer-logo foot-box">
            <img src="/dps/images/dps-jaipur-school-logo.png">
        </div>  
        <div class="quick-links foot-box">
            <h3>Quick Links</h3>
            <ul>
               <!--  <li><a href="Facilities">Facilities</a></li> -->
                <!--<li><a href="Facilities-Infrastructure">Infrastructure</a></li>-->				
                <li><a href="Registration-Form">Registration Form</a></li>
                <li><a href="RFID">RFID</a></li>
                <li><a href="upload/RTE-Notification-2021-DPS.PDF-(2).jpg" target="_blank">RTE Notification 2021</a></li>
                <li><a href="upload/attach/367921598538685_Important_Circulars.pdf" target="_blank">Important Circulars</a></li>
                <li><a href="Contact.php">Contact Us</a></li>
				<li><a href="https://www.dpsjaipur.com/message.html" target="_blank">PTA Registration</a></li>
            </ul>
        </div>
        <div class="box foot-box">
            <h3>Contact us</h3>
            <div class="conatct-box">
                <div class="contact">
                    <p>Delhi Public School, Jaipur, Ajmer Road Branch NH-8, Jaipur Ajmer Highway, Jaipur Pin code – 302026</p>
                    <p>Phone : +91-829-056-5656, +91-9680006938
					<br>For Admission Enquiry : +91- 9116405333+91-9828982987,
					<br>E-mail : <a href="mailto: info@dpsjaipur.com">info@dpsjaipur.com</a>,
					<a href="mailto: admission@dpsjaipur.com">admission@dpsjaipur.com</a>
					<br>
					<a href="https://www.freecounterstat.com" title="DPS Jaipur">Visitor Counter - <img style="width:142px;margin-left:5px;" src="https://counter8.stat.ovh/private/freecounterstat.php?c=1arxsltycyq6fpg8rz2wgbjkusdu6hg9" border="0" title="Visitor Counter" alt="DPS jaipur"></a>

					</p>
                </div>   
            </div>
        </div>
      </div>
      <div class="button-top" style="opacity: 1;"><i class="fa fa-arrow-up"></i></div>
    <footer class="bottom">
        <p>© 2020 All rights reserved with DPS Jaipur</p>
        <div class="ecis"><p>Powered by  : <a style="color:#fff;" href="https://www.brsoftech.com/">BR Softech Pvt. Ltd.</a></p></div>
    </footer>
</footer>







	<script>
	<!-- used for Testimonials  -->
	var myIndex = 0;
	carousel();

	function carousel() {
	  var i;
	  var x = document.getElementsByClassName("Slides");
	  for (i = 0; i < x.length; i++) {
	    x[i].style.display = "none";  
	  }
	  myIndex++;
	  if (myIndex > x.length) {myIndex = 1}    
	  x[myIndex-1].style.display = "block";  
	  setTimeout(carousel, 10000);    
	}
	
	<!-- used for NAVbar Images slide   -->
let slideIndex = 0;
showSlides();

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  slides[slideIndex-1].style.display = "block";  
  setTimeout(showSlides, 4000); // Change image every 4 seconds
}

</script>
</body>



</html>